<p><%= @name %>'s Game!</p>


<div id='board'>
  <table>
      <% number = 0 %>
      <% $board.grid.each do |elem| %>
        <% if number <= 9 %>
          <td style= "height:10px;width:10px;background:green;">
            <%= elem %>
          </td>
          <% number += 1 %>
        <% elsif number > 9 %>
          <tr>
            <td style= "height:10px;width:10px;background:green;">
            <%= elem %>
            </td>
          <% number = 1 %>
        <% end %>
      <% end %>

  </table>

</div>

<div>
  <form action="/board" method="post">
  Please enter the type of ship(size) you would like to place
  <select name="ship_type">
    <option value="destroyer">Destroyer</option>
    <option value="carrier">Carrier</option>
    </select>
  <br>
  Please enter some coordinates to place your ship
  <input type="text" name="coordinates" required>
  <br>
  Please enter the orientation of the ship
  <input type="text" name="orientation" required>
  <br>
  <input type="submit" value="Place Ship">

  </form>

<% if @coordinates %>
<% $board.place(@ship_type, @coordinates, @orientation) %>
<% end %>


</div>

